:root {
  --image_height: 200px;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
}

#background {
    position: sticky;
    top: 0;
    height: calc(var(--image_height) - 2px);
    width: 100%;
    background-color: white;
    z-index: 0;
    box-shadow: 8px 5px 5px grey;
}

header {
    float: left;
    position: sticky;
    top: 0;
    z-index: 1;
}
#logo {
    background-color: black;
    height: var(--image_height);
}

nav {
    float: right;
    margin: 1%;
    padding: 1%;
    position: sticky;
    top: 25px;
    z-index: 1;
}
nav ul {
    display: flex;
}
nav ul li {
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
}
nav ul li a {
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    color: rgb(10, 92, 40);
    border-radius: 15px;
}
nav ul li a:hover {
    color: goldenrod;
    transition: 0.5s ease;
}

main {
    clear: both;
}
main p {
    text-indent: 2em;
    line-height: 1.5em;
}
main a {
    color: rgb(10, 92, 40);
}


main #banner {
    --top_px: calc(var(--image_height) - 100px);
    position: fixed;
    top: var(--top_px);
    right: 0;
    left: var(--image_height);
    height: calc(var(--image_height) - var(--top_px));
    text-align: center;
    background-color: rgb(10, 92, 40);
}
main #banner h3 {
    padding-top: 2.5%;
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

main #two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px;
    padding: 25px;
    gap: 25px;
}
main #one, main #two {
    border: solid 2px goldenrod;
    padding: 25px;
    padding-bottom: 20px;
}


/* media queries */
@media (max-width: 800px) {
    main #two-cols {
        /* remove 2 col layout */
        display: block;
    }
    main #one {
        margin-bottom: 25px;
    }
    main #two {
        margin-top: 25px;
    }

    nav ul li a {
        padding: 10px 20px 10px 20px;
    }
}

@media (max-width: 600px) {
    #logo {
        /* change header and nav */
        height: calc(var(--image_height) / 2);
    }
    
    #banner {
        display: none;
    }

    #background {
        height: calc((var(--image_height)) / 2);
    }

    nav {
        top: 0;
    }

    nav ul li a {
        padding: 5px 10px 5px 10px;
        font-size: small;
    }
}