:root {
  --image_height: 200px;
}

/* CSS reset */
* {
    margin: 0;
    padding: 0;
}

#background {
    position: sticky;
    top: 0;
    height: calc(var(--image_height) - 2px);
    width: 100%;
    background-color: white;
    z-index: 0;
    box-shadow: 8px 5px 5px grey;
}

header {
    float: left;
    position: sticky;
    top: 0;
    z-index: 1;
}
#logo {
    background-color: black;
    height: var(--image_height);
    transition: 0.5s ease;
}
#logo:hover {
    box-shadow: goldenrod 5px 5px 10px;
    transition: 0.5s ease;
}

nav {
    float: right;
    margin: 1%;
    padding: 1%;
    position: sticky;
    top: 25px;
    z-index: 1;
}
nav ul {
    display: flex;
}
nav ul li {
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
}
nav ul li a {
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    color: rgb(10, 92, 40);
    border-radius: 15px;
    transition: 0.5s ease;
}
nav ul li a:hover {
    color: goldenrod;
    transition: 0.5s ease;
}
nav ul li a:active {
    color: goldenrod;
    transition: 0.4s ease;
    text-decoration: none;
    padding: 15px 25px 15px 25px;
    background-color: rgb(10, 92, 40);
    border-radius: 15px;
}

main {
    clear: both;
}
main p {
    text-indent: 2em;
    line-height: 1.5em;
}
main a {
    color: rgb(10, 92, 40);
}


main #banner {
    --top_px: calc(var(--image_height) - 100px);
    position: fixed;
    top: var(--top_px);
    right: 0;
    left: var(--image_height);
    height: calc(var(--image_height) - var(--top_px));
    text-align: center;
    background-color: rgb(10, 92, 40);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    overflow: hidden;
}
main #banner h3 {
    padding-top: 2.5%;
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
#carousel {
    transition: transform 0.5s ease;
}
#carousel .on {
    display: block;
}
#carousel .off {
    display: none;
}
main #two-cols {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 25px;
    padding: 25px;
    gap: 25px;
}
main #one {
    grid-column: 1 / span 2;
    border: solid 2px goldenrod;
    padding: 25px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
main #two {
    grid-column: 3 / span 2;
    border: solid 2px goldenrod;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding-bottom: 20px;
}
main #three-fourths {
    grid-column: 1 / span 3;
    border: solid 2px goldenrod;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding-bottom: 20px;
}
main form input {
    display: block;
    line-height: 2em;
    margin-bottom: 1em;
}
main form label {
    line-height: 2em;
    padding: 1em;
    margin-left: -1em;
}


/* media queries */
@media (max-width: 800px) {
    main #two-cols {
        /* remove 2 col layout */
        display: block;
    }
    main #one, main #three-fourths {
        margin-bottom: 25px;
    }
    main #two {
        margin-top: 25px;
    }

    nav ul li a {
        padding: 10px 20px 10px 20px;
    }
}

@media (max-width: 600px) {
    #logo {
        /* change header and nav */
        height: calc(var(--image_height) / 2);
    }
    
    #banner {
        display: none;
    }

    #background {
        height: calc((var(--image_height)) / 2);
    }

    nav {
        top: 0;
    }

    nav ul li a {
        padding: 5px 10px 5px 10px;
        font-size: small;
    }

    #headshot img {
        width: 75%;
        margin-left: 12.5%;
    }
}